TWILIO_ACCOUNT_SID=ACeb619479c58f132b11ecf2d17dd8aca9

# The Twilio number for making outbound and receiving inbound calls
# Purchase a Twilio phone number in the console
# https://www.twilio.com/console/phone-numbers/search
TWILIO_CALLER_ID=+61851238539

# SID of your TwiML Application
# Create a new TwiML app in the console
# https://www.twilio.com/console/voice/twiml/apps
TWILIO_TWIML_APP_SID=AP862c21b14ccb74756418219f8826152b

# Your REST API Key information
# Create a new key in the console (the TWILIO_API_KEY will be the SID shown starting with 'SK')
# https://www.twilio.com/console/project/api-keys
TWILIO_API_KEY=SKcb0748651f295d081dc15e4904d2d292
TWILIO_API_SECRET=hcU4AVhzxJwkrYFTNFRrp5zjdjT9jCzT
